:root{
    --background-Color:#272627;
    --shaded-Triangle:#232323;
    --brightRed:#F24841;
    --darkRed:#983942;
    --offWhite:#DCE3E1;
    --carouselBackgroundColor:#1A1A1A;
    --white:#FFFF;
}