#home {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 10%;
    margin-top: 10%;
    min-height: 90vh;
}

.intro {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.typeWriter {
    font-size: calc(2.8vw + 2.8vh);
}

.welcome {
    font-size: calc(1.0vw + 1.8vh);
    color: var(--offWhite);
}

.akatWritting {
    font-size: calc(1.8vw + 1.0vh);
    color: var(--darkRed);
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1.5px;

}

.akatContainer {
    margin-top: 5%;
    margin-right: 5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
}

.akatsukiImage {
    width: 100%;
    height: 100%;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 20px;
    margin-top: 3%;
    color: var(--offWhite);
    line-height: 2;
}

.resumeContainer {
    margin-top: .5rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.resumeButton {
    margin-top: 5px;
    padding: 1.2rem;
    font-size: 16px;
    display: flex;
    border-radius: 3px;
    border: 1px solid white;
    height: 30px;
    align-items: center;
    background-color: var(--darkRed);
}

@media only screen and (max-width: 916px) {
    .akatContainer {
        flex-wrap: wrap;
    }

    .akatsukiImage {
        display: flex;
        flex-wrap: wrap;
    }

    #home {
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 2rem;
    }
}
@media only screen and (max-width: 600px) {
    #home {
        padding-top: 20px;
    }
    .description{
        font-size: 16px;
        padding-bottom: 10px;
    }
    .resumeContainer{
        display: none;
    }
}